.header-container {
    max-height: 174px;
    height: 174px;
}
.section-historia {
    max-width: 100vw;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .historia-image {
        width: 100%;
        flex: 1;
        text-align: center;
    }
    .historia-content {
        width: 100%;
        flex: 1;
        font-size: 28px;
        text-wrap: pretty;
    }
}

.section-vision-mision {
    background-color: #17293d;
    max-width: 564px;
    height: 564px;
    max-width: 100vw;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .mision,
    .vision {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        max-height: 100%;
    }
}

.mision,
.vision {
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 439px;
        max-width: 516px;
        width: 516px;
        height: 439px;
        border-radius: 1rem;
        background-color: #fef7f5;
    }
}
